---
layout: default
section: blog
---

<div class='col6 pad4h margin3'>

  <p>
    <a href="https://fanlink.to/scramn-paydirt">
      Click Album To Purchase Online:
    </a>
  </p>

  <a href="https://fanlink.to/scramn-paydirt">
    <img src="./img/Scramn-Paydirt-newsouth.jpg" alt="" style="width:100%; margin-bottom: 10%; -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);"/>
  </a>

  <h3>
    Highly anticipated new album from Scramn, executive produced by Bubba Mathis (Sparxxx)!
  </h3>

  <p>
    Features include: Bubba Mathis (Sparxxx), Rico Wade, Nappy Roots ( Fish Scales + Big V ), Jabba Jaw, Attitude, Bizarre, Jarren Benton, Bonecrusher, Sketch McGuinney & Grip Plyaz.
  </p>

  <p>
    Producers + DJ's: DJ Chris Crisis, Insane Beatz, Organized Noize, Vitallaz, Ribah on the Beat, Phivestarr, Mr. Enok, Skapezilla, Mike "BB Swing" Ownens & DJ KO.
  </p>

  <hr>

  <p>
    &nbsp;
  </p>

  <!-- {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
    {% endif %}
    <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span></a>
  {% endfor %} -->
</div>

<!-- {% include rss-link.html %} -->
